<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="settings-content">
  <div class="settings-header">
    <ion-avatar class="settings-avatar">
      <img [src]="user.avatar" alt="User Avatar">
    </ion-avatar>
    <div class="user-info">
    </div>
  </div>

  <ion-list lines="none" class="settings-list">
    <ion-item>
      <ion-label>App Lock</ion-label>
      <div class="toggle-container">
        <ion-toggle [(ngModel)]="settings.appLock"></ion-toggle>
      </div>
    </ion-item>

    <ion-item>
      <ion-label>Notifications</ion-label>
      <div class="toggle-container">
        <ion-toggle [(ngModel)]="settings.notifications"></ion-toggle>
      </div>
    </ion-item>

    <ion-item>
      <ion-label>Reminders</ion-label>
      <div class="toggle-container">
        <ion-toggle [(ngModel)]="settings.reminders"></ion-toggle>
      </div>
    </ion-item>

    <ion-item button class="logout-item" (click)="logout()">
      <ion-label class="logout-label">Log Out</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>