<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ovulation Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ovulation Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="hasData; else noDataTemplate">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Today: {{currentDate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Day {{cycleDay}} of your cycle</p>
        <p *ngIf="daysLeft > 0">{{daysLeft}} days until next period</p>
        <p *ngIf="daysLeft <= 0">Your period is due or overdue</p>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" (click)="openDetailedCycle()">
      View Detailed Cycle Info
    </ion-button>
  </div>

  <ng-template #noDataTemplate>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No Cycle Data</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>You haven't set up your cycle information yet.</p>
        <ion-button expand="block" (click)="showSetupModal()">
          Set Up Now
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>