/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */
@import "@ionic/angular/css/palettes/dark.always.css";
@import "@ionic/angular/css/palettes/dark.class.css";
@import "@ionic/angular/css/palettes/dark.system.css";

/* Global CSS Variables */
:root {
    --ion-color-primary: #FE6C23;
    --ion-color-primary-rgb: 254, 108, 35;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #e0611f;
    --ion-color-primary-tint: #fe7b3c;
  
    --ion-color-secondary: #76B3D0;
    --ion-color-secondary-rgb: 118, 179, 208;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #68a0ba;
    --ion-color-secondary-tint: #85bdd5;
  
    --ion-color-tertiary: #FFE9CA;
    --ion-color-tertiary-rgb: 255, 233, 202;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #e0cdc0;
    --ion-color-tertiary-tint: #fff0d6;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --ion-background-color: #121212;
      --ion-text-color: #ffffff;
  
      --ion-color-primary: #FF974D;
      --ion-color-secondary: #A4D7ED;
      --ion-color-tertiary: #FFD7A8;
    }
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  ion-text {
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
  }

  ion-button {
    --color: var(--ion-color-primary);
    font-weight: 600;
    font-family: 'Belanosima', sans-serif;
  }
  
