<ion-header>
  <ion-toolbar>
    <!-- Header with Location/Time and Avatar -->
    <ion-buttons slot="start">
      <div class="location-time">
        <ion-text color="light">
          <h4>{{ location }}</h4>
          <p>{{ currentTime }}</p>
        </ion-text>
      </div>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar (click)="openSettings()" class="avatar">
        <img src="assets/images/default-avatar.png" alt="User Avatar">
      </ion-avatar>
      <ion-button fill="clear" (click)="openOvulationTracker()" class="strawberry-button">
        <img src="assets/icon/strawberryBtn01.svg" alt="Ovulation Tracker" class="strawberry-icon" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Weather Background -->
  <app-weather-background [weatherCode]="currentWeather?.weather[0]?.id"></app-weather-background>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Temperature Display -->
    <div class="temperature-display">
      <ion-text color="light">
        <h1>{{ currentWeather?.main?.temp | number:'1.0-0' }}°</h1>
        <p>{{ currentWeather?.weather[0]?.main }}</p>
      </ion-text>
    </div>

    <!-- Animated Duck -->
    <div class="duck-animation">
      <app-animated-duck [weatherCondition]="currentWeather?.weather[0]?.main"></app-animated-duck>
    </div>
  </div>

  <!-- Bottom Panel -->
  <!-- Hourly Forecast Panel (floating) -->
  <div class="hourly-panel" (click)="openDetailedForecast()">
    <ion-text class="panel-title text-dark">Hourly Today</ion-text>
    <div class="hourly-forecast">
      <div class="hour-item" *ngFor="let hour of hourlyForecast">
        <ion-text class="text-dark">
          <p>{{ hour.time }}</p>
          <ion-icon [name]="hour.icon"></ion-icon>
          <p>{{ hour.temp }}°</p>
        </ion-text>
      </div>
    </div>
  </div>

</ion-content>